body {
    margin: 0;
    overflow: hidden;
}

#progress {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f6f6f6;
}

#progress .percent {
    color: #919191;
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    font-size: 20rem;
    font-family: 'Avenir Next', sans-serif;
    z-index: 4;
}

#progress .bar {
    position: absolute;
    bottom: 0;
    height: 0%;
    background: #ebebeb;
    z-index: 3;
    width: 100%;
}