@keyframes sound {
  0% {
    opacity: .35;
    width: 3px; }
  100% {
    opacity: 1;
    width: 28px; } }

body {
  margin: 0;
  overflow: hidden; }

#progress {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #f6f6f6; }
  #progress .percent {
    color: #919191;
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    font-size: 20rem;
    font-family: 'Avenir Next', sans-serif;
    z-index: 4; }
  #progress .bar {
    position: absolute;
    bottom: 0;
    height: 0%;
    background: #ebebeb;
    z-index: 3;
    width: 100%; }

#keyboard {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  z-index: 2; }
  #keyboard .icon {
    color: white;
    font-size: 32px; }
    #keyboard .icon:hover {
      cursor: pointer; }

#keyboard-overlay {
  z-index: 1;
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  opacity: 0;
  transition: opacity 350ms ease-in-out;
  pointer-events: none; }
  #keyboard-overlay.show {
    opacity: 1;
    pointer-events: auto; }

#cameraToggle {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  align-items: center; }
  #cameraToggle .title {
    vertical-align: middle;
    opacity: 0;
    text-transform: uppercase;
    color: white;
    font-family: "Fugue";
    transition: all 350ms ease-in-out;
    margin-right: 15px; }
    #cameraToggle .title .icon {
      color: white;
      font-size: 32px; }
  #cameraToggle .buttons {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    #cameraToggle .buttons .button {
      display: inline-block;
      opacity: 0;
      padding: 2px 4px;
      margin: 0 5px;
      border-radius: 50%;
      border: 1px solid white;
      text-align: center;
      line-height: 30px;
      width: 30px;
      height: 30px;
      transition: all 350ms ease-in-out;
      font-family: sans-serif;
      color: white;
      font-weight: bold;
      font-size: 16px; }
      #cameraToggle .buttons .button:hover, #cameraToggle .buttons .button.active {
        cursor: pointer;
        background: white;
        color: black; }

#controls {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px; }
  #controls #play, #controls #record {
    display: inline-block;
    height: 50px;
    width: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 15px;
    background: white;
    border-radius: 50%;
    vertical-align: top; }

#buttonMask {
  height: 100px;
  width: 100px;
  overflow: hidden;
  display: inline-block; }
  #buttonMask .buttonContainer {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    transition: transform 350ms ease-in-out; }
    #buttonMask .buttonContainer .button {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      background-color: #f7faff;
      transition: background-color .1s ease, opacity .3s ease;
      text-align: center; }
      #buttonMask .buttonContainer .button a {
        text-decoration: none;
        font-family: "Fugue";
        color: #333333;
        font-size: 28px;
        line-height: 100px;
        pointer-events: none; }
    #buttonMask .buttonContainer #dance:hover {
      background-color: #2b2d2d;
      cursor: pointer; }
      #buttonMask .buttonContainer #dance:hover a {
        text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000; }
    #buttonMask .buttonContainer #start:hover {
      background-color: #2b2d2d;
      cursor: pointer; }
      #buttonMask .buttonContainer #start:hover a {
        color: white; }
    #buttonMask .buttonContainer.started {
      transform: translateY(-100px); }
