$Fugue: 'Fugue';
$Calibre: 'Calibre';
$Press-Start-2P: 'Press Start 2P';

$button-bg: #2b2d2d;

body {
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0px solid white;
  border-radius: 0px;
  outline: none;
}

#container {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

#loops-drawer {
  background: rgba(240, 240, 240, .7);
  height: 20vh;
  width: 100vw;
  position: relative;
  clear: both;
  top: 20px;
  margin: 0 -20px;
  overflow-y: scroll;

  .loop {
    width: 100%;
    height: 40px;
    background: whitesmoke;
    padding: 10px;
    font-family: $Fugue, sans-serif;
    display: flex;
    justify-content: space-between;

    &:nth-child(even) {
      background: white;
    }

    .controls{
      transition: all .2s;
      &:hover{
        cursor: pointer;
        opacity: .5;
      }
    }

  }
}

.ui-button {
  text-transform: uppercase;
  width: 100px;
  height: 50px;
  background-color: #f7faff;
  transition: all 100ms ease;
  text-align: center;

  a {
    font-family: $Press-Start-2P, monospace;
    text-decoration: none;
    color: #333333;
    font-size: 12px;
    line-height: 50px;
    pointer-events: none;
  }

  &:hover {
    background-color: $button-bg;
    cursor: pointer;

    a {
      color: white;
    }
  }
}

.ui {
  opacity: 0;
  transition: opacity 350ms ease-in-out, transform 350ms ease-in-out;

  &.show {
    transform: translateY(0px) !important;
    opacity: 1 !important;
  }
}

.ui-bar {
  position: fixed;
  height: 12vh;
  width: 100%;
  background-color: black;
  transition: all .7s ease;
  z-index: 1;

  &--top {
    top: 0;
    transform: translateY(-100%);
  }

  &--bottom {
    bottom: 0;
    transform: translateY(100%);
  }

  &.show {
    transform: translateY(0%);
  }
}

.ui-overlay {
  z-index: 1;
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  opacity: 0;
  transition: opacity 350ms ease-in-out;
  pointer-events: none;

  .content {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

}

%ui-top {
  transform: translateY(-40px);
}

%ui-bottom {
  transform: translateY(40px);
}

#progress {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #f6f6f6;

  .percent {
    color: #919191;
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    font-size: 20rem;
    font-family: 'Avenir Next', sans-serif;
    z-index: 4;

  }

  @media screen and (max-width: 768px){
      .percent{
        font-size: 10rem;
      }
  }

  .bar {
    position: absolute;
    bottom: 0;
    height: 0%;
    background: #ebebeb;
    z-index: 3;
    width: 100%;
  }
}

#info {
  @extend %ui-top;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  z-index: 2;

  .icon {
    color: white;
    font-size: 32px;
    margin: 0 10px;

    &:hover {
      cursor: pointer;
    }
  }
}

#keyboard-overlay {
  .keyboard {
    .key {
      width: 100px;
      height: 100px;
      display: inline-block;
      background: white;
      margin: 5px;
      line-height: 100px;
      text-transform: uppercase;
      font-family: sans-serif;
    }
  }
}

#info-overlay{

  .content {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .info {
    h1{
      font-family: $Press-Start-2P, monospace;
      font-size: 3em;
      color: #26272d;
      margin: 0;
    }

    p{
      font-family: $Fugue, sans-serif;
      color: #919191;
      font-size: 30px;
      margin: 0;
      margin-top: 50px;
    }

    a{
      display: inline-block;
      margin-top: 12px;
      font-family: $Calibre, sans-serif;
      font-size: 27px;
      color: #919191;
      font-weight: normal;
      text-decoration: none;
      &:hover{
        color: #8a0e91;
      }
    }
  }
}

.dark{
  color: #26272d;
}

#title {
  transition: opacity .2s ease;
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  height: 350px;
  width: 500px;
  transform: translate(-50%, -50%);
  z-index: 1;

  #start, #mobile-play{
    bottom: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  #start{
    display: block;
  }

  #mobile-play{

    display: none;
  }
}

@media screen and (max-width: 768px){
  #title{
    width: 80% !important;
  }
}

#cameraToggle {
  @extend %ui-top;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  align-items: center;

  .title {
    vertical-align: middle;
    text-transform: uppercase;
    color: white;
    font-family: $Fugue;
    transition: all 350ms ease-in-out;
    margin-right: 15px;

    .icon {
      color: white;
      font-size: 32px;
    }
  }

  .buttons {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;

    .button {
      display: inline-block;
      padding: 1px 4px;
      margin: 0 5px;
      border-radius: 50%;
      border: 1px solid white;
      text-align: center;
      line-height: 30px;
      width: 30px;
      height: 30px;
      transition: all 350ms ease-in-out;
      font-family: sans-serif;
      color: white;
      font-weight: bold;
      font-size: 16px;

      &:hover, &.active {
        cursor: pointer;
        background: white;
        color: black;
      }
    }
  }
}

#bottom {
  @extend %ui-bottom;
  position: absolute;
  padding: 20px;
  bottom: -20vh;
  transition: bottom 350ms ease-in-out;
  width: 100%;

  &.showLoops {
    bottom: 0;
  }
}

#dj {
  display: flex;
  position: relative;
  float: left;
  height: 50px;

  #play, #record, #loops {
    display: flex;
    height: 50px;
    width: 50px;
    line-height: 50px;
    position: relative;
    margin-right: 10px;
    background: #f9f9f9;
    border-radius: 50px;
    transition: all 350ms ease-in-out;
    justify-content: center;

    &:hover {
      background: $button-bg;
      cursor: pointer;

      .icon {
        color: white;
      }
    }
  }

  #play {
    .icon {
      color: #2b2d2d;
      font-size: 16px;
    }
  }

  #record {
    .icon {
      width: 20px;
      height: 20px;
      background: #f78a8a;
      border-radius: 50%;
      margin: 0 auto;
      transition: all 350ms ease-in-out;
    }

    &:hover {
      .icon {
        transform: scale(1.15);
      }
    }

    &.recording {
      background: $button-bg;

      .icon {
        animation-name: blink;
        animation-duration: 0.4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
  }


}

#pause-overlay {

  .time {
    color: #161719;
    font-family: $Fugue, sans-serif;
    font-size: 4rem;
  }

  .instructions {
    color: #919191;
    font-family: $Press-Start-2P, monospace;
    margin-top: 50px;
  }
}

#buttonMask {
  float: right;
  position: relative;
  display: inline-block;

  .buttonContainer {
    height: 50px;
    width: 100px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    transition: transform 350ms ease-in-out;

    #dance {
      &:hover {
        a {
          text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
        }
      }
    }
  }
}

@keyframes blink {
  from {opacity: 1;}
  to {opacity: 0;}
}

.hide{
  display: none;
}

.show{
  display: block;
}
