@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top:  50%;
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -($item-size / 2);

    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform:
                rotate($rot * 1deg)
                translate($circle-size / 2)
                rotate(180*1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

$Fugue: 'Fugue';
$Calibre: 'Calibre';

@keyframes sound {
  0% {
    opacity: .35;
    width: 3px;
  }
  100% {
    opacity: 1;
    width: 28px;
  }
}

body {
  margin: 0;
  overflow: hidden;
}

#progress {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #f6f6f6;
  .percent {
    color: #919191;
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    font-size: 20rem;
    font-family: 'Avenir Next', sans-serif;
    z-index: 4;
  }
  .bar {
    position: absolute;
    bottom: 0;
    height: 0%;
    background: #ebebeb;
    z-index: 3;
    width: 100%;
  }
}

#home-button{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: white;

  
}

#home-button:hover{
  cursor: pointer;
}

#keyboard {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;

  .icon {
    width: 100px;
    height: 50px;
    background: white;

    &:hover {
      cursor: pointer;
    }
  }
}

#keyboard-overlay {
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //display: none;
  //opacity: 0;
}

#cameraToggle {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;

  .title {
    opacity: 0;
    color: white;
    font-family: $Fugue;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    transition: all 350ms ease-in-out;
  }

  .buttons {
    // display: inline-block;
    list-style-type: none;
    margin: 0;
    margin-bottom: 7px;
    padding: 0;

    .button {
      display: inline-block;
      opacity: 0;
      padding: 4px 4px;
      box-sizing: border;
      margin: 0;
      margin-right: 5px;
      border-radius: 100%;
      border: 1px solid white;
      text-align: center;
      line-height: 30px;
      width: 30px;
      height: 30px;
      transition: all 350ms ease-in-out;
      font-family: sans-serif;
      color: white;
      font-weight: bold;
      font-size: 16px;

      &:hover, &.active {
        cursor: pointer;
        background: white;
        color: black;

      }

    }
  }
}

#home{
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(44, 221, 255, 1);
  .wrapper{
    position: absolute;
    left: 50%;
    top: 37%;
    text-align: center;
    transform: translate(-50%, -50%);

     #playdance{
      display: flex;
      justify-content: space-around;
      width: 70%;
      margin: auto;
     }

     #title{
        font-family: $Fugue;
        font-size: 120px;
        color: #ff59e0;
        margin: auto;
        margin-bottom: 30px;
      }

      #dance{
        display: inline-block;
      }

      #dance:hover {
        background-color: #2b2d2d;
        cursor: pointer;
        opacity: 1;
        a {
          text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
        }
      }

      #play{
        display: inline-block;
      }

      #play:hover{
        cursor: pointer;
      }
  }
}

.mainButton{
  height: 125px;
  width: 125px;
  border-radius: 100%;
  background: rgba(255, 255, 255, .5);
  text-align: center;
  a{
    color: #333333;
    font-family: $Fugue;
    font-size: 28px;
    line-height: 125px;
    pointer-events: none;
    text-decoration: none;
  }
}

#record{
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.hide{
  animation: fade .5s ease forwards 1;
}

@keyframes fade{
  0%{opacity: 1; visibility: visible;} 
  99%{opacity: .001; visibility: visible;}
  100%{opacity: 0; visibility: hidden;}
}

.show{
  animation: fadeIn .5s ease forwards 1;
}

@keyframes fadeIn{
  0%{opacity: 0; display: block;} 
  100%{opacity: 1; display: block;}
}

#container{
  z-index:-2;
  position: absolute;
  top: 0;
}

#playUI{
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 0;
  top: 0;
}

.bar{
  position: fixed;
  height: 12vh;
  width: 100vw;
  background-color: black;
  transition: all .7s ease;
}